.app {
  background: whitesmoke;
  display: grid;
  grid-template-areas:
    'cabecalho'
    'conteudo'
    'rodape';
  grid-template-columns: auto;
  grid-template-rows: 70px auto auto;
  font-family: 'Poppins', sans-serif;
}

.cabecalho {
  background: whitesmoke;
  display: flex;
  align-items: center;
  padding: 2rem 2rem;
  grid-area: cabecalho;
}

.conteudo {
  grid-area: conteudo;
  padding: 0 2rem;
}

.rodape {
  background: whitesmoke;
  color: black;
  font-size: 1rem;
  grid-area: rodape;
  padding: 1rem;
  text-align: center;
}
